<nav>
    <ul>
        <li>
            <a href="/">Homepage</a>
        </li>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
        <li>
            <a href="/auth/login">Login</a>
        </li>

    </ul>
</nav>
<header>
    <h1>Music Station</h1>
</header>
<main>
    <p>Testing</p>
</main>